---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<div class="flex h-full w-full flex-col flex-wrap items-center justify-center gap-10 border-amber-300">
		<div id='home-element' class="h-10 w-full text-center text-5xl font-bold text-gray-900">
			Astro js
		</div>
	</div>
</Layout>
