---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
  <main class="flex h-screen flex-col items-center overflow-hidden bg-blue-200 from-slate-300 via-slate-50 to-slate-300">
      <nav class="flex h-10 w-full shrink-0 grow-0 items-center border-b border-slate-600 bg-blue-500">
          <div class="flex w-full gap-4 p-2 font-semibold md:max-w-2xl">
              <a href="/">
                  <span>Home</span>
              </a>
              <a href="/post">
                  <span>Posts</span>
              </a>
              <a href="/photo">
                  <span>Photos</span>
              </a>
          </div>
      </nav>
      <div class="flex w-full flex-grow justify-center overflow-y-auto bg-sky-100 md:max-w-4xl md:border-blue-100">
        <slot/>
      </div>
  </main>
  </body>
</html>
<style is:global>
  :root {
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
  }
  html {
    font-family: system-ui, sans-serif;
    background-color: #f6f6f6;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
      Bitstream Vera Sans Mono, Courier New, monospace;
  }
  body {
    color: white;
  }
</style>
